<nav class="header site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="headerText py-2" href="#">
        <svg cxmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      </a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Tour</a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Product</a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Features</a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Enterprise</a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Support</a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Pricing</a>
      <a class="headerText py-2 d-none d-md-inline-block" href="#">Cart</a>
    </div>
  </nav>
  <section class="body" id="section-basic-example">
    <section class="pb-4">
      <div class="bg-white  rounded-5">
  
        <section class="w-100 p-4 d-flex justify-content-center pb-4">
          <form class="login-form" style="width: 22rem;">
            <!-- Shop Name -->
            <mat-form-field appearance="fill" class="login-full-width">
              <mat-label>Shop Name</mat-label>
              <input type="text" matInput [formControl]="ShopNameFormControl" 
                     placeholder="shop Name">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="ShopNameFormControl.hasError('required')">
                Shop Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            
  

              <!-- Shop Number input -->
              <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>Shop Number</mat-label>
                <input type="text" matInput [formControl]="ShopNumberFormControl" 
                       placeholder="shop Number">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="ShopNumberFormControl.hasError('required')">
                  Shop Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              
             <!-- Location  input -->
            <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>Location</mat-label>
                <input type="text" matInput [formControl]="LocationFormControl" [errorStateMatcher]="matcher"
                       placeholder="Location">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="LocationFormControl.hasError('required')">
                    Location is <strong>required</strong>
                </mat-error>
              </mat-form-field>

               <!-- Commercial Number  input -->
               <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>Commercial Number</mat-label>
                <input type="text" matInput [formControl]="CommercialNumberFormControl" [errorStateMatcher]="matcher"
                       placeholder="Commercial Number">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="CommercialNumberFormControl.hasError('required')">
                    Commercial Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>


            <!-- Submit button -->
            <div class="Sbutton d-flex justify-content-between">
              <button class="RegistrationButton" routerLink="/OAuth/Register" mat-raised-button color="primary"><mat-icon>backspace</mat-icon>
              </button>
              <button class="SignInButton" mat-raised-button color="primary">Submit</button>
            </div>  
  
 
          </form>
        </section>
      </div>
    </section>
    <!--Section: Code-->
  </section>