<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
sssssssssssssssssssssssss
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <section class="body" id="section-basic-example">
    <section class="pb-4">
      <div class="bg-white  rounded-5">
  
        <section class="w-100 p-4 d-flex justify-content-center pb-4">
          <form class="login-form" style="width: 22rem;">
            <!-- Email input -->
            <mat-form-field appearance="fill" class="login-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
  
            <!-- Password input -->
            <mat-form-field appearance="fill" class="login-full-width">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
  

              <!-- Re Password input -->
            <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>Re_Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
              
             <!-- User Name input -->
            <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>User Name</mat-label>
                <input type="User Name" matInput [formControl]="UserNameFormControl" [errorStateMatcher]="matcher"
                       placeholder="User Name">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="UserNameFormControl.hasError('required')">
                  User Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

               <!-- Phone input -->
              <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>Telephone</mat-label>
                <input type="tel" [formControl]="PhoneFormControl"  matInput placeholder="555-555-1234">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="PhoneFormControl.hasError('required')">
                    User Name is <strong>required</strong>
                  </mat-error>
              </mat-form-field>


            <!-- Submit button -->
            <div class="Sbutton d-flex justify-content-between">
              <button  type="button" class="btn btn-primary" routerLink="/OAuth/Login"><mat-icon>backspace</mat-icon></button>
              <button  type="button" class="btn btn-primary ">Next</button>
            </div>  
  
 
          </form>
        </section>
      </div>
    </section>
    <!--Section: Code-->
  </section>
</div>

